<div class="wrapper_with_padding">
  <h1>Find Friends</h1>
  <div class="clearfix" id="users">
    <% for user in @users %>
      <div class="user">
        <p class="title">
          <%= link_to user.email, user_path(id: user.id), method: "get" %>
        </p></br>
        <button>
          <%= link_to "Add", friend_requests_path(friend_id: user.id), method: "post" %>
        </button>
        <%-#= link_to "New Administrator" @user.role = (admin) %>
        <%-#= link_to "New Administrator", @user.update_attributes(params[:user], :as => :admin) %>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
  <div id="user_show">
    <div class="buttons">
      <%= link_to "Go Back", user_path(id: current_user.id), method: "get", class: "button" %>
    </div>
  </div>
</div>
