<div id="banner">
  <div class="banner_content">
    <h1>WebKeep</h1>
    <p>Don't forget anything.</p>
    <button>
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
</div>
<div id="testimonial">
  <div class="wrapper">
    <p class="quote">"It was hard, but with effort, we managed to develop this web application successfully."</p>
    <p class="name">- The work team</p>
  </div>
</div>
<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        <h2>Create</h2>
        <p>Capture your ideas. Add notes and collections with both text and photos.</p>
      </div>
      <div class="callout">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <h2>Edit</h2>
        <p>Do you need to update your notes? Don't worry, you will be able to edit that note that you had created a while ago.</p>
      </div>
      <div class="callout">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
        <h2>Share</h2>
        <p>Share your ideas with family and friends, now you can finish your tasks faster.</p>
      </div>
    </div>
  </div>
</div>
<div id="bottom_cta">
  <div class="wrapper">
    <h2>Try it now!</h2>
    <p>You are one click away from achieving it.</p>
    <button>
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
</div>
<footer>
  <h2>&copy; The work team</h2>
  <p>Lydia Prado Ibáñez</p>
  <p>Rubén Pérez Rubio</p>
  <p>Luis Miguel Ortiz Rozalén</p>
</footer>
